.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 220px;
    background-color: #fff;
    margin-top: 5rem;
}

.sidebar a {
    color: #000000;
    text-decoration: none;
    display: block;
    margin: 0.5rem 0;
}

.sidebar a.active {
    background-color: rgba(0, 0, 0, 0.06); /* Màu nền khi chọn */
    color: #000000; /* Màu chữ */
    font-weight: bold;
    padding: 10px 0;
}

.sidebar a i {
    margin: 0 0.5rem;
}

.sidebar a.active i {
    color: #000000; /* Màu icon khi chọn */
}

.navbar {
    padding: 10px 20px;
}

.navbar-brand img {
    height: 40px;
}

.dropdown-toggle {
    background: none;
    border: none;
    padding: 0;
}

.dropdown-menu {
    min-width: 150px;
}

.dropdown-item i {
    margin-right: 10px;
}

.main-content {
    margin-left: 220px;
    padding: 1rem;
    margin-top: 4rem;
}
